@import helper._
@import java.time.{LocalDate, LocalDateTime}

@(schedules: Seq[Schedule], localDate: LocalDate)(implicit messages: MessagesProvider, request: MessagesRequestHeader)

@calendar.layout(Messages("calendar.index.title")) {
  <div class="container mt-4">
    <h1 class="mt-4">@(localDate.toString)の予定一覧</h1>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">@Messages("calendar.schedule.title")</th>
          <th scope="col">@Messages("calendar.schedule.startsAt")</th>
          <th scope="col">@Messages("calendar.schedule.endsAt")</th>
        </tr>
      </thead>
      <tbody>
      @for(schedule <- schedules) {
        <tr>
          <th scope="row">@schedule.title</th>
          <td>@schedule.startsAt.toString</td>
          <td>@schedule.endsAt.toString</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}
